<form>
  <h3>Please indicate the new user details</h3>

  <input type="text" name="name" placeholder="User name">
  <input type="password" name="password" placeholder="Password">
  <input type="text" name="nationality" placeholder="Your country">
  <button id="add-user">Create a new User</button>
</form>
<script src="javascripts/add-user.js"></script>